@import "tailwindcss";
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.radial-progress {
  --value: 0;
  --size: 6rem;
  --thickness: 8px;

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(
      circle closest-side,
      white 0,
      transparent calc(100% - var(--thickness))),
    conic-gradient(
      rgb(124, 58, 237) calc(var(--value) * 1%),
      rgba(124, 58, 237, 0.1) 0
    )
}